Repository hokyunrhee/octobot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: slack app 추가
  .gitignore
  README.md
  bin/app.ts
  cdk.json
  cdk/app.ts
  cdk/stacks/slack-bot.stack.ts
  lib/lambda.stack.ts
  package-lock.json
  package.json
  slack-app/Dockerfile
  slack-app/app.js
  slack-app/package.json
Due: eslint --fix, prettier --write

feat: pulumi 추가
  .gitignore
  cdk/app.ts
  cdk/stacks/pulumi.stack.ts
  package-lock.json
  package.json
  pulumi/Dockerfile
  pulumi/package.json
  pulumi/src/app.ts
Due: eslint --fix, prettier --write

build: pulumi app build script 수정
  cdk/stacks/pulumi.stack.ts
  package-lock.json
  pulumi/Dockerfile
  pulumi/package.json
  pulumi/src/app.ts
Due: eslint --fix, prettier --write

refactor: lambda 통합
  cdk/app.ts
  cdk/stacks/octobot.stack.ts
  cdk/stacks/pulumi.stack.ts
  cdk/stacks/slack-bot.stack.ts
  package-lock.json
  package.json
  pulumi/Dockerfile
  pulumi/package.json
  pulumi/src/app.ts
  slack-app/Dockerfile
  slack-app/app.js
  slack-app/package.json
  src/app.ts
  src/github/assets/CODEOWNERS
  src/github/handlers/octokit-client.ts
  src/github/handlers/repository.mutation.ts
  src/github/handlers/repository.query.ts
  src/utils/readFile.ts
Due: eslint --fix, prettier --write

docs: README.md 업데이트
  README.md
Due: prettier --write

build: Lambda afterBundling hook 추가
  cdk/stacks/octobot.stack.ts
  src/assets/CODEOWNERS
Due: eslint --fix

infra: secretsManager 추가
  cdk/app.ts
  cdk/stacks/octobot.stack.ts
  cdk/stacks/secret.stack.ts
Due: eslint --fix

infra: CDK API Gateway stack 분리
  .eslintrc.cjs
  cdk/app.ts
  cdk/stacks/lambda.stack.ts
  cdk/stacks/rest-api.stack.ts
  cdk/stacks/secret.stack.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

infra: lambda 핸들러 외부의 init code 추가
  src/app.ts
  src/env.ts
  src/setup-env.ts
  src/utils.ts
  src/utils/readFile.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{md,mdx,yml,json,babelrc,eslintrc,prettierrc}
